.container {
  //width: 640px;
  //height: 640px;
  display: grid;
  grid-template-columns: repeat(16, 50px);
  grid-template-rows: repeat(16, 50px);
  background-color: white;
  //border: 1px solid black;
}

.grid {
  border: 1px solid black;
  //width: 40px;
  //height: 40px;
}

/*
.grid:hover {
  background-color: blue;
}
*/